.mdl-layout__header-row {
  height: 150px;
}

.logo {
  width: 350px;
}

.mdl-textfield__input {
  color: #fff;
  font-family: Gaegu;
  font-size: 20px;
}

* {
  font-family: Gaegu;
}

.mdl-layout-title {
  color: #8cb947;
  font-family: Gaegu;
  margin-left: 20px;
  font-size: 25px;
}

.md-search {
  color: #fff;
}

.mdl-grid {
  min-height: 460px;
}

.demonst-card {
  width: 280px;
}

.demonst-card > .mdl-card__title {
  color: #fff;
  height: 300px;
}

.mdl-card__title-text{
  font-family: Gaegu;
}

.md-line {
  height: 60px;
 
  margin-bottom: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.md-table-characs {
  width: 100%;
  font-size: 18px;
  text-align: left;
}

.md-button-bf {
  margin: 4px;
}

.md-position {
  z-index: 1;
}







@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.stars, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.twinkling {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:90%;
height:90%;
display:block;
}

.stars {
background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:0;
}


.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
